# Обязательные настройки
TELEGRAM_BOT_TOKEN=your_bot_token_here

# Опциональные настройки
CAPTIONS_FILE=data/captions.txt
IMAGES_DIR=images
CHANNEL_ID=@your_channel_username
FONT_PATH=fonts/Lobster-Regular.ttf
